.img-responsive{
	width:250px;
	height:auto;
}

.serif {
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

p {
	font-size: 25px;
	text-indent: 50px;
}

.list {
	font-size: 30px;
}

.sansserif {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 45px !important;
}

.sansserifsmall {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 35px !important;
}